<% @content.group_list do |content| %>
    <div class="tile image outline-color-red">
      <a href="/content/<%= u content.path %>">
        <div class="tile-content">
          <img class="thumb" src="/thumbnail/<%= u content.thumbnail %>" />
        </div>
      </a>
      <div class="brand">
        <div class="name"><%= content.title %></div>
      </div>
    </div>
<% end %>
