<% @latest.each do |content| %>
    <div class="content tile image">
        <a href="/content/<%= content.path %>">
            <div class="tile-content">
                <img class="thumb" src="/thumbnail/<%= content.thumbnail %>" />
            </div>
            <div class="brand">
                <div class="name"><%= content.title %></div>
            </div>
        </a>
    </div>
<% end %>
<span id="insert"></span>
